.cardwidget {
    margin-right: 20px ;
  }
.appbar {
   background-color: #F5B7B1 ;
   align-content: center ;
}


.menu {
display: inline-block ;
flex-grow: 3 ;

}
.bar {
  text-decoration: none ;
  list-style: none ;
  color: #EC7063 ;

}